<div class="jumbotron">
  <h1 class="display-4">WHERE DID YOU EAT?</h1>
  <h4>Welcome <%= @user.username %>!</h4>
  <p class="lead">This app help you keep track of where you've eaten. You can also write a brief review or desricption of the place (but keep it short!)</p>
  <hr class="my-4">
  <p>More stuff here </p>
  <%= form_tag restaurants_path, method: :get do %> 
  <%= text_field_tag :term, params[:term] %><br><br>
  <%= submit_tag "Search Restaurants" %>
  <% end %>
</div>




