<div class="container">
  <div class="jumbotron">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>TEST TABLE</th>
        </tr>
      </thead>
      <tbody>
        <% @visits.each do |visit|%>
          <tr>
            <td><%= link_to visit.created_at, visit_path(visit) %></td>
            <td></td>
            <td><%= visit.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
