<br>
<br>
<br>
<div class="card w-25 mx-auto text-center">
  <div class="card-body">
    <h5 class="card-title">So, Where Did You Eat?</h5>
    <% if session[:restaurant_id] == nil %>
      <p class="card-text">Click below to find where you ate on Yelp and write a brief review of the visit.</p>
      <%= render 'restaurants/button_to_add_from_yelp_modal' %>
    <% else %>
      <%=  @restaurant.name %> <%= @restaurant.location %>
      <%= render "form" %>
    <% end %>
  </div>
</div>
