<h4>New Visit</h4>
<h5>Where did you eat?</h5><br>
<% if session[:restaurant_id] == nil %> 
    Find a restaurant on Yelp: <%= render 'restaurants/button_to_add_from_yelp_modal' %>
<% else %>
    <%=  @restaurant.name %> <%= @restaurant.location %>   
    <%= render "form" %> 
<% end %>

