<%# 
<div class="container">
<div class="row">
<div class="card w-25 mx-auto text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Welcome</h5>
    <h6 class="card-subtitle mb-2 text-muted">Where Did You Eat?</h6>
    <p class="card-text">   </p>
    <a class="btn btn-primary" href="/login">Login</a>
    <a class="btn btn-primary" href="/signup">Sign Up</a>
  </div>
</div>
</div>
</div> %>
<br>
<br>
<br>

<div class="jumbotron w-25 mx-auto text-center">

  <h1 class="display-4">Welcome</h1>
  <p class="lead">Where Did You Eat?</p>
  <hr class="my-4">
  <p></p>
    <a class="btn btn-outline-primary" href="/login">Login</a><br><br>
    <a class="btn btn-outline-primary" href="/signup">Sign Up</a><br><br>
    <a class="btn btn-outline-primary" href="/auth/google_oauth2">Sign in with Google</a><br><br>
</div> 


