<div class="jumbotron">
  <h1 class="display-4">WHERE DID YOU EAT?</h1>
  <h4>Search for the place where you ate!</h4>
  <p class="lead">From here you will be able to search yelp for the play where you've eaten (as well as previously recorded places)</p>
  <hr class="my-4">
  <p>More stuff here </p>
  <a class="btn btn-outline-primary btn-lg" href="<%= new_restaurant_path %>" role="button">Search Restaurants!</a>
</div>