<div class="jumbotron">
  <h1 class="display-4">TEST</h1>
  <p class="lead">this is the subtext area on the jumbotron</p>
  <hr class="my-4">
  <p>this is the second area</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">button</a>
</div>